.brands {
  display: flex;
  padding-left: 16px;
  gap: 16px;
  margin: 0;

  &__item {
    background-color: $white;
    width: 224px;
    height: 72px;
    padding: 16px;
    border-radius: 6px;
    position: relative;
  }

  &__icon {
    position: absolute;
    display: inline-block;
    right: 16px;
  }

  &__sony,
  &__viewsonic {
    display: block;
    background-color: $white;
    border: solid 1px $border-table;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 224px);
    gap: 16px 32px;
    padding-left: 24px;
  }
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 16px 32px;
    padding-left: 32px;
  }
}
