@media (min-width: 1440px) {
  .brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 32px;
    padding-left: 32px;
  }
}

@media (max-width: 1440px) {
  .brands {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 24px;

    &:nth-child(4) {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .brands {
    display: flex;
    padding-left: 16px;

    &__sony,
    &__viewsonic {
      display: block;
    }
  }
}

@media (min-width: 769px) {
  .brands {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 24px;
  }
}
