.brands {
  display: flex;
  padding-left: 16px;
  gap: 16px;
  &__sony,
  &__viewsonic {
    display: block;
  }
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 224px);
    gap: 16px 32px;
    padding-left: 24px;
  }
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 16px 32px;
    padding-left: 32px;
  }
}
