.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    filter: opacity(55%);
  }

  &:active {
    transform: scale(1.2);
  }
}

.btn_theme_navbar {
  background-color: $background;
}

@media (min-width: 1440px) {
  .btn {
    background-color: $background;
  }
}
