.button {
    border: none;
    background-color: $background;
    padding: 8px 16px;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    cursor: pointer;
  

  &:focus {
    transform: scale(0.9);
  }
  
  &:hover {
    filter: opacity(55%);
  }
  
  &:active {
    transform: scale(1.2);
  }

  }

  .button__1 {
    border: 2px solid $border-color
;
    border-radius: 6px;
    background-color: $white;
    display: block;
  }
  
  .button__4,
  .button__6,
  .button__0 {
    display: none;
  }

  @media (min-width: 768px) {  .button {
    border: none;
    padding: 8px 10px 8px 16px;
  }

  .button__1 {
    border: 2px solid $border-color
;
  }

  .button__3,
  .button__5,
  .button__6 {
    display: block;
  }
}
@media (min-width: 1120px) {
    
    .button__0,
    .button__4,
    .button__6 {
      display: block;
    }
  
    .button__0 {
      border: 2px solid $border-color
;
      border-radius: 6px;
      background-color: $white;
      display: block;
    }
  
    .button__1 {
      border: none;
      background-color: $background
;
    }
  
    .button__2 {
      display: none;
    }

}