.buttons {
  color: $menu-text-color;
  background-color: $background;
  display: flex;
  // gap: 16px;
  white-space: nowrap;
  font-size: 16px;
  overflow-x: auto;
  padding-left: 16px;
  flex-wrap: nowrap;
  max-width: 80%;
  @media (min-width: 768px) {
    padding-left: 24px;
  }
  @media (min-width: 1440px) {
    overflow: visible;
    flex-wrap: wrap;
    margin-top: -27px;
    padding-left: 32px;
    max-width: 100%;
  }
}
