.cards {
  display: flex;
  //   flex-wrap: wrap;
  padding-left: 16px;

  &__item {
    width: 260px;
    height: 200px;
    border-radius: 6px;
    background-color: $white;
    margin-right: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.cards__footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 16px;
  gap: 16px;
  width: 288px;
  @media (min-width: 768px) {
    display: none;
  }
}
