.cards {
  display: flex;

  &__item {
    width: 260px;
    height: 200px;
    border-radius: 6px;
    background-color: $white;
    margin-right: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
