.cards {
  display: flex;
  // flex-wrap: wrap;
  // padding-left: 16px;
  flex-direction: row;
  gap: 16px;
  // min-width: 0;

  &__item {
    width: 260px;
    height: 220px;
    border-radius: 6px;
    background-color: $white;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-size: 14px;
    padding: 10px;
    position: relative;

    img {
      position: absolute;
      left: 120px;
      bottom: 20px;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.cards__footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 16px;
  gap: 16px;
  width: 288px;
  @media (min-width: 768px) {
    display: none;
  }
}
