.device {
  display: flex;
  padding-left: 16px;
  gap: 16px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 224px);
    gap: 16px 24px;
    padding-left: 24px;
  }
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 16px 32px;
    padding-left: 32px;
  }

  &__item {
    background-color: $white;
    width: 224px !important;
    height: 160px;
    border-radius: 6px;
    border: 1px solid $border-table;
    position: relative;
    padding-left: 16px;

    img {
      position: absolute;
      bottom: 10px;
      right: 16px;
    }

    &_hidden {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
