.device {
  display: flex;
  flex-direction: row;
  gap: 32px;

  &__item {
    background-color: $white;
    width: 224px;
    height: 160px;
    border-radius: 6px;
    border: 1px solid $border-table;
  }
}
