.footer {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  color: $menu-text-color;
  border-top: 1px solid $border-menu;
  padding: 32px;
}
