.list__button {
  padding-left: 16px;
  border: none;
  background-color: transparent;
  position: relative;
  margin-top: 24px;
  margin-left: 30px;

  @media (max-width: 768px) {
    visibility: hidden;
  }

  @media (min-width: 768px) {
    padding-left: 24px;
  }
  @media (min-width: 1440px) {
    padding-left: 32px;
  }

  &_show-all {
    display: none;
    border: none;
    background-color: transparent;
    font-family: "TTLakesRegular";
    font-size: 16px;
    @media (min-width: 768px) {
      padding-left: 24px;
      display: block;
    }
    @media (min-width: 1440px) {
      padding-left: 32px;
      display: block;
    }
  }
  &_show {
    display: none;
    border: none;
    background-color: transparent;
    font-family: "TTLakesRegular";
    font-size: 16px;
    @media (min-width: 768px) {
      display: block;
      padding-left: 24px;
    }
    @media (min-width: 1440px) {
      display: block;
      padding-left: 32px;
    }
  }

  &_hide {
    display: none;
  }

  &_hide-all {
    display: none;
  }

  img {
    display: inline-block;
    position: absolute;
    left: 3px;
  }
}
