.list__button {
  padding-left: 16px;
  border: none;
  background-color: transparent;
  @media (max-width: 768px) {
    visibility: hidden;
  }

  @media (min-width: 768px) {
    padding-left: 24px;
  }
  @media (min-width: 1440px) {
    padding-left: 32px;
  }
}

@media (min-width: 768px) {
  .list__button_show-all {
    border: none;
    background-color: transparent;
    padding-left: 24px;
    font-family: "TTLakesRegular";
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .list__button_show-all {
    border: none;
    background-color: transparent;
    padding-left: 32px;
    font-family: "TTLakesRegular";
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .list__button_show {
    border: none;
    background-color: transparent;
    padding-left: 24px;
    font-family: "TTLakesRegular";
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .list__button_show {
    border: none;
    background-color: transparent;
    padding-left: 32px;
    font-family: "TTLakesRegular";
    font-size: 16px;
  }
}

.list__button_hide {
  display: none;
}

.list__button_hide-all {
  display: none;
}
