
@media (max-width: 768px) {
    .list__button,
    .list__button {
      opacity: 0;
      }
  }

@media (min-width: 1120px) {
.list__button_show-all {
    border: none;
    background-color: transparent;
    padding: 16px 24px;
    font-family: "TTLakesRegular";
    font-size: 16px;
  }
  
  .list__button_hide-all {
    display: none;
    border: none;
    background-color: transparent;
    padding: 16px 24px;
    font-family: "TTLakesRegular";
    font-size: 16px;
  }}

  
            