
// @media (min-width: 320px) {
    .menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    row-gap: 16px;
    padding: 24px 16px;
    border-bottom: 1px solid #d9fff5;
    background-color: $white;
  
  
  &__repair-text,
  &__checkstatus-text {
    display: none;
  }
  
  &__call,
  &__chat,
  &__profile {
    display: none;
  }

  @media (min-width: 768px) {
    &__burger::after {
      content: url(/images/divider_1.svg);
      margin: 24px 20px;
    }
    &__call {
      display: block;
    }
    &__chat {
      display: block;
    }
    &__profile {
      display: block;
    }
  }

  @media (min-width: 1120px) {
    .menu {
      justify-content: flex-end;
      border-bottom: none;
      background-color: $background;
    } 
    &__call,
    &__chat,
    &__profile,
    &__burger,
    &__group,
    &__burger::after,
    &__divider {
      display: none;
    }

    &__repair,
    &__checkstatus {
      display: flex;
      font-size: 16px;
      align-items: center;
    }
  
    &__repair-text,
    &__checkstatus-text {
      display: block;
      font-family: "TTLakesBold";
      font-size: 16px;
    }
  
    &__repair img,
    &__checkstatus img {
      margin-left: 8px;
      margin-right: 42px;
    }
  }
}