.modal {
  width: 440px;
  height: 940px;
  padding-left: 32px;
  background-color: $white;

  &__title {
    padding-top: 40px;
    &::before {
      content: url(/images/highlight.svg);
      background-color: $highlight-color;
      position: relative;
      right: 30px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 376px;
    gap: 16px;
    color: $modal-form;
    font-size: 16px;
    color: $modal-form;

    padding-bottom: 16px;
    input {
      height: 48px;
      border-radius: 8px;
      border: 1px solid $border-table;
    }
    textarea {
      height: 118px;
      border-radius: 8px;
      border: 1px solid $border-table;
    }
  }
  &__text {
    width: 376px;
    line-height: 16px;
    font-size: 14px;
    &_pink {
      color: $modal-text;
    }
  }
  &__btn {
    background-color: $white;
    border: none;
    margin-top: 23px;
    position: relative;
    left: 238px;
  }
}
