.modal {
  padding-left: 16px;
  width: 320px;
  height: 676px;
  background-color: $white;

  @media (min-width: 1440px) {
    width: 440px;
    height: 940px;
    padding-left: 32px;
  }

  &__title {
    padding-top: 40px;

    &::before {
      content: url(/images/highlight.svg);
      background-color: $highlight-color;
      position: relative;
      right: 16px;
      @media (min-width: 1440px) {
        position: relative;
        right: 30px;
      }
    }
  }

  &__close {
    border: none;
    background-color: $white;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $modal-form;
    font-size: 16px;
    width: 288px;
    padding-bottom: 16px;
    @media (min-width: 1440px) {
      width: 376px;
    }
    input {
      height: 48px;
      border-radius: 8px;
      border: 1px solid $border-table;
      padding-left: 16px;
    }
    textarea {
      height: 118px;
      border-radius: 8px;
      border: 1px solid $border-table;
      padding-left: 16px;
      padding-top: 16px;
    }
  }
  &__text {
    width: 288px;
    line-height: 16px;
    font-size: 14px;
    @media (min-width: 1440px) {
      width: 376px;
    }

    &_pink {
      color: $modal-text;
    }
  }

  &__btn {
    background-color: $white;
    border: none;
    margin-top: 23px;
    position: relative;
    left: 145px;
    @media (min-width: 1440px) {
      position: relative;
      left: 340px;
    }
  }
  img {
    position: relative;
    top: 24px;

    @media (min-width: 1440px) {
      position: relative;
      right: 97px;
    }
  }
}
