.read-more {
    display: flex;
    border: none;
    white-space: nowrap;
    background-color: #f8f8f8;
    font-family: "TTLakesBold", sans-serif;
    font-size: 16px;
    cursor: pointer;
  }

  .read-more:focus {
    color: $menu-text-color;
  }
  .read-more:hover {
    filter: opacity(55%);
  }
  
  .read-more:active {
    cursor: grabbing;
  }