.read-more {
  display: flex;
  border: none;
  white-space: nowrap;
  background-color: $background;
  font-family: "TTLakesBold", sans-serif;
  font-size: 16px;
  cursor: pointer;

  &:focus {
    color: $menu-text-color;
  }

  &:hover {
    color: $main-text-color;
  }

  &:active {
    color: $black;
  }
}
