
@media (max-width: 768px) {
    .section-title {
        padding: 16px;
      }
}

@media (max-width: 1120px) {
    .section-title {
        font-family: "TTLakesRegular";
        font-size: 16px;
        line-height: 24px;
        padding: 16px 32px;
      }

}

