.swiper-wrapper {
  width: 100%;
  overflow: hidden;
}
.swiper-pagination {
  display: block;
}

@media (min-width: 1440px) {
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination,
  .swiper-scrollbar {
    display: none;
  }
}
