.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  // display: flex;
  width: 240px !important;
  justify-content: center;
  align-items: center;
}
