.swiper {
  width: 768px;
  // height: 120px;
}

.swiper-wrapper {
  width: 768px;
  // overflow: hidden;
}

.swiper-slide {
  // display: flex;
  width: 240px !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.swiper-pagination-bullet {
  background: #dddddd;
}

.swiper-pagination-bullet-active {
  background: $modal-form;
}
