.table {
  display: none;
  border-collapse: collapse;

  @media (min-width: 768px) {
    display: table;
    width: 720px !important;
    height: 480px;
    margin-left: 24px;
    margin-top: 32px;
  }

  @media (min-width: 1440px) {
    display: table;
    width: 1056px !important;
    height: 488px;
    margin-top: 32px;
  }

  @media (min-width: 1440px) {
    margin-left: 32px;
    margin-top: 32px;
  }

  &__thead {
    font-family: "TTLakes", sans-serif;
    color: $menu-text-color;
    font-weight: 100;
    opacity: 0.7;
    text-align: left;

    th {
      padding-bottom: 16px;
      padding-left: 20px;
    }
  }

  &__body {
    background-color: $white;

    @media (min-width: 1440px) {
    }
    th,
    td {
      padding: 20px;
      border-bottom: 2px solid $border-table;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    @media (min-width: 1440px) {
      margin-top: 32px;
    }
  }
}
