.table {
  width: 720px;
  height: 356px;
  @media (min-width: 1440px) {
    width: 1056px;
    height: 488px;
  }
  // padding: 32px;
  border-collapse: collapse;
  @media (min-width: 768px) {
    margin-left: 24px;
  }
  @media (min-width: 1440px) {
    margin-left: 32px;
  }

  &__thead {
    font-family: "TTLakes", sans-serif;
    color: $menu-text-color;
    font-weight: 100;
    opacity: 0.7;
    text-align: left;
  }

  &__body {
    background-color: $white;
    // margin-bottom: 24px;
    @media (min-width: 1440px) {
    }
    th,
    td {
      padding: 20px;
      border-bottom: 2px solid $border-table;
    }
  }

  //   &__footer {
  //     border-collapse: separate;
  //     border: 24px;
  //   }
}
