.title {
  font-size: 28px;
  letter-spacing: -0.6px;
  margin-bottom: 24px;
  padding-left: 16px;
  white-space: nowrap;
  position: relative;
  @media (min-width: 768px) {
    font-size: 28px;
    white-space: nowrap;
    padding-left: 24px;
  }
  @media (min-width: 1440px) {
    transform: translateY(-70px);
  }

  &::before {
    content: url(/images/highlight.svg);
    background-color: $highlight-color;
    position: absolute;
    left: 0;

    @media (min-width: 768px) {
      position: absolute;
      left: 0;
    }
    @media (min-width: 1440px) {
      position: absolute;
      left: 0;
    }
  }
}
